<div style="width: 100%; float: left; margin-top: -10px; margin-bottom: 20px;">
    <form id="contactform" method="POST" action="https://formspree.io/contact@krausefx.com">
        <p><b>Email Address</b></p>
        <input type="email" name="_replyto" placeholder="Your email address">

        <p><b>Message</b></p>
        <textarea placeholder="Your message" name="message"></textarea>
        <input type="hidden" name="_subject" value="New message from krausefx.com" />
        <br />
        <input type="submit" value="Submit">

    </form>
</div>