<p><b>New: </b><a target="_blank" href="https://krausefx.com/blog/ios-privacy-instagram-and-facebook-can-track-anything-you-do-on-any-website-in-their-in-app-browser">Last week's post</a> talked about the injection of the <code>pcm.js</code> script. <a href="https://twitter.com/KrauseFx/status/1558867249691123712">Meta claimed</a>    they only inject the script to respect the user's ATT choice, and additional "security and user features".</p>
<p>After improving the JavaScript detection, <b>I now found some additional commands Instagram executes:</b></p>
<ul>
    <li>Instagram iOS subscribes to every tap on any button, link, image or other component on external websites rendered inside the Instagram app.</li>
    <li>Instagram iOS subscribes to every time the user focuses on a UI element (like a text field) on third party websites rendered inside the Instagram app.</li>
</ul>
<br />
<p>Open the list of JS commands detected <a target="_blank" href="/assets/posts/inappbrowser/app_js/instagram.js">here</a>.</p>