<div id="sidebar">
  <h1 style="font-size: 21px;">Felix Krause</h1>
  <p>Founder of <a href="https://fastlane.tools" target="_blank">fastlane.tools</a></p>
  <p><a href="/about">More about me</a></p>
  <img src="/assets/FelixKrause.jpeg" />

  <!-- Social links -->
  <ul class="social-media-list" style="margin-top: 20px; margin-bottom: 30px;">
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    <li>
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    <li>
      {% include icon-linkedin.html %}
    </li>
  </ul>

  <hr />

  {% twitter https://twitter.com/KrauseFx maxwidth=500 limit=5 %}

</div>
