<div id="sidebar">
    <h1 style="font-size: 21px;">Felix Krause</h1>
    <p>Founder of <a href="https://fastlane.tools" target="_blank">fastlane.tools</a></p>

    {% include instapipe.html %}

    <div id="story-available" class="story-not-available">
        <img src="/assets/FelixKrauseCropped.jpg" id="storyProfilePicture" onclick="showStories()" />
    </div>

    <p style="margin-bottom: 8px;"><a href="/about">🙋‍♂️ More about me</a></p>
    <p><a href="work-with-me">👨‍💻 Work with me</a></p>

    <hr />

    <!-- Social links -->
    <ul class="social-media-list" style="margin-top: 20px; margin-bottom: 30px;">
        <li>
            {% include icon-github.html username=site.github_username %}
        </li>
        <li>
            {% include icon-twitter.html username=site.twitter_username %}
        </li>
        <li>
            {% include icon-mastodon.html %}
        </li>
        <li>
            {% include icon-instagram.html %}
        </li>
        <li>
            {% include icon-linkedin.html %}
        </li>
    </ul>

    <hr style="margin-bottom: 10px" />

    <a href="https://howisFelix.today" target="_blank" id="howisfelix-today">
        <div style="width: 22px; display: inline-block; vertical-align: middle; padding-right: 5px;">
            {% include icon-map.svg %}
        </div>
        <span class="username">howisFelix.today?</span>
    </a>

    <hr style="margin-top: 0px;" /> {% include newsletter.html %}
</div>