<p><b>TikTok subscribes to every tap on any website element inside the TikTok app, as well as every keystroke, being able to access any passwords, addresses, credit card info and more.</b></p>

<ul>
    <li>TikTok iOS subscribes to every keystroke (text inputs) happening on third party websites rendered inside the TikTok app. This can include passwords, credit card information and other sensitive user data. (<code>keypress</code> and <code>keydown</code>).
        We can't know what TikTok uses the subscription for, but from a technical perspective, this is the equivalent of a keylogger setup on third party websites.</li>
    <li>TikTok iOS subscribes to every tap on any button, link, image or other component on external websites rendered inside the TikTok app.</li>
    <li>TikTok iOS uses a JavaScript function to get details about the element the user clicked on, like an image (<code>document.elementFromPoint</code>)</li>
</ul>
<br />
<p>Open the list of JS commands detected <a target="_blank" href="/assets/posts/inappbrowser/app_js/tiktok.js">here</a>.</p>