---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$font-color: #444;
$title-color: #111;
$header-inactive-color: #9c9c9c;

/* Added by Felix */
#sidebar {
  float: right;
  top: 75px;
  right: 0;
  width: 269px;
  padding: 20px;
  margin-left: 60px;
  padding-top: 0px;
  border-left: 1px solid #EEE;
}

p.tags {
  color: #aaa;
  font-size: 15px;
}

hr {
  color: #bbb;
  background-color: #bbb;
  height: 1px;
  flex: 0 1 auto;
  margin: 1em 0;
  padding: 0;
  border: none;
}

blockquote {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-left-width: 3px;

  * {
    font-style: normal !important;
    letter-spacing: 0;
  }
}

article {
  max-width: calc(100% - 360px);
}

.post-content {
  img {
    max-width: calc(100% - 10px);
  }
  img.inline-img {
    margin: 20px;
  }

  h2 {
    font-size: 17px;
    font-weight: 600;
  }

  h3 {
    font-size: 15px;
    font-weight: 600;
  }
}

.home {
  article {
    margin-bottom: 70px;
  }
}

.wrapper {
  max-width: -webkit-calc(340px + #{$content-width} - (#{$spacing-unit} * 2)) !important;
  max-width:         calc(340px + #{$content-width} - (#{$spacing-unit} * 2)) !important;
}

.post-title {
  a {
    color: $title-color !important;
    text-decoration: none;
    &:hover {
      color: #0037F5 !important;
    }
  }

  font-weight: 500;

  @include relative-font-size(1.3);
  letter-spacing: 0px;
  line-height: 1.4em;

  @include media-query($on-laptop) {
    @include relative-font-size(1.3);
  }
}

.site-header {
  border-top: none;
  border-bottom: none;
  height: 150px;

  .site-title {
    color: $title-color;
    font-weight: 700;
    line-height: 1.2em;
    font-size: 32px;
    margin-top: 30px;
  }

  .trigger {
    margin-top: 20px;

    a.active {
      color: $title-color !important;
      &:visited {
        color: $title-color !important;
      }
    }

    a {
      margin-right: 20px;
      padding-left: 10px;
      color: $header-inactive-color;

      &:visited {
        color: $header-inactive-color !important;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

p {
  line-height: 1.6em;
  font-weight: 400;
  font-size: 15px;
  color: $font-color;
}
li {
  color: $font-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6em;
}

* {
  font-family: "Helvetica Neue";
  color: $font-color;
}

a {
  color: #0085bd !important; 
}

a:visited {
  color: #0085bd;
}

h1, h2, h3 {
  color: #111; /* Darker */
}

.site-title {
  color: $font-color !important;
}

.post-meta {
  margin-top: -10px;

  * {
    color: #aaa;
  }
}
